<phpunit bootstrap="phpunit-bootstrap.php">
    <testsuites>
        <testsuite name="Mon Plugin Test Suite">
            <directory>./wp-content/plugins/ekhos/tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./wp-content/plugins/ekhos</directory>
        </include>
        <report>
            <html outputDirectory="coverage-report"/>
        </report>
    </coverage>
</phpunit>
